<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=10.19.150.11;database=Northwind_Lite;user id=sa;password=tiboxdesa*1234"
         />
  </connectionStrings>
</configuration>